<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Fantastical2.Korean</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>C7CB96C9-5A5F-426A-9D6B-25A620665F3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB109B54-A35E-4548-9C76-A22AE8D1E09D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F153722F-EB07-454A-8BB6-202EED565DDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B51A299C-82F7-4769-8A41-851532A90EB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>molla</string>
	<key>description</key>
	<string>ver 2019 0416</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fantastical 자연어 기반 일정 추가</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cal</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Fantastical2로 일정 추가</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F153722F-EB07-454A-8BB6-202EED565DDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>set message to do shell script "/usr/bin/ruby parse.rb '{query}'"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B51A299C-82F7-4769-8A41-851532A90EB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Fantastical2 한국어 기반 입력 workflow</string>
	<key>uidata</key>
	<dict>
		<key>AB109B54-A35E-4548-9C76-A22AE8D1E09D</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>B51A299C-82F7-4769-8A41-851532A90EB6</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>C7CB96C9-5A5F-426A-9D6B-25A620665F3C</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>F153722F-EB07-454A-8BB6-202EED565DDB</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
</dict>
</plist>
